{% import "macros/datatable-select-filter.html.twig" as dtfilter %}
{% import "macros/datatable-links.html.twig" as dtlinks %}
<div class="{{cruddt.divclass|default('col-md-12')}} crud-datatable {{cruddt.settings.name}}">
    <div class="box box-primary" id="widget-{{cruddt.settings.htmlid}}">
        {% if cruddt.templates.pulldown_header is not empty   %}
                <div class='dt-pulldown-header text-center' data-dtid='{{cruddt.settings.htmlid}}'>
                    {% include cruddt.templates.pulldown_header with {
                    'dtoptions' : cruddt.settings,
                    'crud_params': crud_params
                    } %}
                </div>
            <div class=''>
            </div>
        {% endif %}
        <div class="box-header">
        {% if (cruddt.settings.title is not empty) %}
            <h3 class="box-title">
                {#<i class="fa fa-tasks fa-fw"></i> #}
                <img class="dt-head-image img-circle" src="{{assets.url('assets://dt/images/cm-aum-flower04.png')}}" alt="Datatable">
                {#<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>#}
                {% if cruddt.settings.title is not empty %}
                    {{translate(cruddt.settings.title|default('CRUD_DATATABLE'))}}
                {% else %}
                    CRUD Datatable
                {% endif %}
                </h3>
        {% endif %}
                <div class='dt-utilactions pull-right'>
                    <a class='pull-left' href="#" onclick="reloadDatatable('{{ cruddt.settings.htmlid }}');">
                        {#<i aria-hidden="true" class="fa fa-sync"></i> #}
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </a>
                    {% if current_user.isMaster() %}
                    .....  
                    <a class='pull-right text-danger' href="#" onclick="reInitDatatable('{{ cruddt.settings.htmlid }}');">
                        {#<i aria-hidden="true" class="fa fa-sync"></i> #}
                        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    </a> 
                    {% endif %}
                </div>
        </div>

        <div class="box-body dt-datatable-body" id='{{cruddt.settings.htmlid}}_dtbox'>
            {% if (cruddt.links is iterable and cruddt.links|length > 0) %}
                {{dtlinks.generate(cruddt.settings.htmlid,cruddt.links)}}
            {% endif %}
            <!-- datatable filters start -->
            {% if (cruddt.filters is iterable and cruddt.filters|length > 0) %}
                <div class='dt-filters' id='{{cruddt.settings.htmlid}}_dtfilter'>
                    {{dtfilter.generate(cruddt.settings.htmlid,cruddt.filters)}}
                </div>
            {% endif %}
            <!-- datatable filters end -->
            {% if cruddt.templates.newrow_template is not empty   %}
                <!-- datatable crud newrow start -->
                <div class='crud-newrow' id='crud-newrow_{{cruddt.settings.htmlid}}' 
                    data-dtname='{{cruddt.settings.name}}' data-dtid='{{cruddt.settings.htmlid}}'>
                    {% include cruddt.templates.newrow_template with {
                    'dtoptions' : cruddt.settings,
                    'crud_params': crud_params
                    } %}
                </div>
                <!-- datatable crud newrow end -->
            {% endif %}

            {% include 'components/datatable.html.twig' with {
                    'dtoptions' : cruddt.settings,
                    'crud_params': crud_params
            } %}
        </div>
    </div>
    <div class='column-formatters' style='display:none;'
        data-dtname='{{cruddt.settings.name}}' data-dtid='{{cruddt.settings.htmlid}}'>
        {% for formatid, colformatter in cruddt.formatters %}
        <!-- including formatter for {{formatid}} -->
        {% if colformatter is iterable %}
            {% set fmttemplate = colformatter.template %}
            {% set fmt_params = colformatter.params %}
        {% else %}
            {% set fmttemplate = colformatter %}
            {% set fmt_params = {} %}
        {% endif %}
            {% include fmttemplate with {
                'fmt_params':fmt_params,
                'options':cruddt.settings,
                'dtid' : cruddt.settings.htmlid,
                'dtname' : cruddt.settings.name,
                'crudformid' : cruddt.settings.crudformid,
                'crudsuccessjs' : cruddt.settings.crud_success_js,
                'crud_params': crud_params
            } %}
        {% endfor %}
    </div>
    {% if cruddt.crud_forms is iterable %}
        <div class='crud-forms' style='display:none;'
            data-dtname='{{cruddt.settings.name}}' data-dtid='{{cruddt.settings.htmlid}}' >
            {% for dtableid, crudformarr in cruddt.crud_forms %}
                <div class='crud-form-group' id='crudfor_{{dtableid}}'
                    data-dtname='{{cruddt.settings.name}}' data-dtid='{{cruddt.settings.htmlid}}'>
                    {% for cftype, crudform in crudformarr %}
                        <div class='crud-template-{{cftype}}' id='crudform_{{dtableid}}_{{cftype}}' 
                            data-dtname='{{cruddt.settings.name}}' data-dtid='{{cruddt.settings.htmlid}}'
                        {% if crudform.forfield|default('') != '' %} data-forfield="{{crudform.forfield}}" {% endif %}>
                            {% include "forms/crud-form.html.twig" with {form : crudform, 'crud_params' : crud_params} %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div><!-- datatable col div -->
