<!-- datatable div starts -->
{#{% set help_position =  crud_params.rs_help.position | default('bottom') %}#}
<div id="{{dtoptions.htmlid}}_content" class="table-responsive dtable-content sn-datatable {{dtoptions.dtclass}}">

    <table cellpadding="0" cellspacing="0" style="width:100%!important;" 
        class="table table-striped table-bordered dataTable srinivas {{dtoptions.tableclass}}" 
        border="0" id="{{dtoptions.htmlid}}" data-url="/datatable/testurl" data-name='{{dtoptions.name}}'
        data-schema="testschema" 
    {% if (crud_params.parentdtid is not empty) %} parentdt="{{crud_params.parentdtid}}" {% endif %} 
    {% if (crud_params.childdtid is not empty) %} childdt="{{crud_params.childdtid}}" {% endif %} 
    {% if (dtoptions.source is not empty) %} data-source="{{dtoptions.source}}" {% endif %} >
        <thead class='dt-head'></thead>
        <tbody class='dt-body'>
            <tr class='dt-processing-row'>
                <td colspan="{{dtoptions.visible_columns|default(1)}}" class="dataTables_empty">
                    Loading data from server
                </td>
            </tr>
        </tbody>
        <tfoot class='dt-footer'></tfoot>
    </table>
</div>
<!-- datatable div ends -->
