{% import "components/datatable-select-filter.html.twig" as dtfilter %}
{% import "components/datatable-links.html.twig" as dtlinks %}
<div class="{{cruddt.divclass|default('col-md-12')}} crud-datatable {{cruddt.options.name}}">
    <div class="box box-primary" id="widget-{{cruddt.options.htmlid}}">
        <div class="box-header">
            <h3 class="box-title">
                {#<i class="fa fa-tasks fa-fw"></i> #}
                <span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
                {{translate(cruddt.options.title)}}</h3>
            <a class='pull-right' href="#" onclick="reloadDatatable('{{ cruddt.options.htmlid }}');">
                {#<i aria-hidden="true" class="fa fa-sync"></i> #}
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </a>
        </div>
        <div class="box-body">
            {% if cruddt.options.newrow_template is not empty   %}
                <!-- datatable crud newrow start -->
                <div class='crud-newrow' id='crud-newrow_{{cruddt.options.htmlid}}'>
                    {% include cruddt.options.newrow_template with {
                    'dtoptions' : cruddt.options,
                    'crud_params': crud_params
                    } %}
                </div>
                <!-- datatable crud newrow end -->
            {% endif %}

            {% if (cruddt.options.links is iterable and cruddt.options.links|length > 0) %}
                {{dtlinks.generate(cruddt.options.htmlid,cruddt.options.links)}}
            {% endif %}

            <!-- datatable filters start -->
            {% if (cruddt.options.filters is iterable and cruddt.options.filters|length > 0) %}
            <div class='dt-filters'>
                {# {{cruddt.options.filters|json_encode(JSON_PRETTY_PRINT)}} #}
                {{dtfilter.generate(cruddt.options.htmlid,cruddt.options.filters)}}
            </div>
            {% endif %}
            <!-- datatable filters end -->
            {% include 'components/datatable.html.twig' with {
                    'dtoptions' : cruddt.options,
                    'crud_params': crud_params
            } %}
        </div>
    </div>
    <div class='column-formatters' style='display:none;'>
        {% for colformatter in cruddt.options.formatters %}
            {% include colformatter with {
                'options':cruddt.options,
                'dtid' : cruddt.options.htmlid,
                'crudformid' : cruddt.options.crudformid,
                'crudsuccessjs' : cruddt.options.crud_success_js,
                'crud_params': crud_params
            } %}
        {% endfor %}
    </div>
    {% if cruddt.options.crud_forms is iterable %}
        <div class='crud-forms' style='display:none;'>
            {% for dtableid, crudformarr in cruddt.options.crud_forms %}
                <div class='crud-form-group' id='crudfor_{{dtableid}}'>
                    {% for cftype, crudform in crudformarr %}
                        <div class='crud-template-{{cftype}}' id='crudform_{{dtableid}}_{{cftype}}' {% if crudform.forfield|default('') != '' %} data-forfield="{{crudform.forfield}}" {% endif %}>
                            {% include "forms/crud-form.html.twig" with {form : crudform, 'crud_params' : crud_params} %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
