<!-- datatable div starts -->
{#{% set help_position =  crud_params.rs_help.position | default('bottom') %}#}
<div id="{{dtoptions.htmlid}}_content" class="table-responsive dtable-content sn-datatable {{dtoptions.dtclass}}">
{% if dtoptions.quick_edit is iterable %}
{% set qe = dtoptions.quick_edit %}
    <div class="dt-quickedit pull-right" id="{{dtoptions.htmlid}}_quickedit_div" >
        {% set qeprefix = qe.prefix|default('quick_edit') %}
        <form method='post' class="dt-quickedit-form rs-editform form-inline"
            id="{{dtoptions.htmlid}}_qeform" action='{{qe.url}}' style='display:none;'
            onSubmit='onQuickEditSubmit(this,"{{qeprefix}}");'>
            {% include "forms/csrf.html.twig" %}
            <div class='dt-quickedit-mesg pull-left'>
                <strong>{{ translate('DATATABLE.QUICK_EDIT_MESSAGE') }}</strong>
            </div>
            <div class="form-group pull-right rs-editform-btn">
                <button type="submit" class="btn btn-sm rs-editform-ok btn-success">
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"> </span> Save
                </button>
                <button type="reset" class="btn btn-sm rs-editform-cancel btn-warning"
                    onClick='genericQuickEditCancel(this);return false;'>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span> Cancel
                </button>
            </div>
        </form>

        <label class='dt-quickedit-check pull-right' for="{{dtoptions.htmlid}}_quickedit">Quick Edit
            <input type="checkbox" class="dt-quickedit-check" name="dt_quickedit" value=""
            id="{{dtoptions.htmlid}}_quickedit_check" 
            onClick="{{qe.onClick|default('genericDTQuickEdit')}}(this, '{{qe.prefix}}')">
        </label>
    </div>
{% endif %}
    <table cellpadding="0" cellspacing="0" style="width:100%!important;" 
        class="table table-striped table-bordered hide_dt_detail dataTable srinivas {{dtoptions.tableclass}}" 
        border="0" id="{{dtoptions.htmlid}}" data-url="/datatable/testurl" data-name='{{dtoptions.name}}'
        data-schema="testschema" 
    {% if (crud_params.parentdtid is not empty) %} parentdt="{{crud_params.parentdtid}}" {% endif %} 
    {% if (crud_params.childdtid is not empty) %} childdt="{{crud_params.childdtid}}" {% endif %} 
    {% if (dtoptions.source is not empty) %} data-source="{{dtoptions.source}}" {% endif %} >
        <thead class='dt-head'></thead>
        <tbody class='dt-body'>
            <tr class='dt-processing-row'>
                <td colspan="{{dtoptions.visible_columns|default(1)}}" class="dataTables_empty">
                    Loading data from server
                </td>
            </tr>
        </tbody>
        <tfoot class='dt-footer'></tfoot>
    </table>
</div>
<!-- datatable div ends -->
